<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image" style="margin-left: 12px">
        <%= image_tag "AdminLTELogo.png", class: "" %>
      </div>
      <div class="info" style="color:white">
        Trang quản trị
      </div>
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <%= image_tag "user2-160x160.jpg", class: "" %>
        </div>
        <div class="info">
          <a href="#" class="d-block">Duy Bình</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a <%= link_to "Chuyến du lịch", admin_tours_path ,class:"nav-link"%> >
            </a>
          </li>
           <li class="nav-item">
            <a <%= link_to "Danh mục", admin_categories_path ,class:"nav-link"%> >
            </a>
          </li>
          <li class="nav-item">
            <a <%= link_to "Quản lý thành viên", admin_users_path, class:"nav-link"%> >
            </a>
          </li>
          <li class="nav-item">
            <a <%= link_to "Quản lý tour đã đặt", admin_user_tours_path, class:"nav-link"%> >
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
