<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Dashboard</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to "Log out", logout_path, method: :delete %></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3><%= @user_tours.count %></h3>

            <p>Tổng số lượng order trong 1 tháng</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-md-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3><%= @user_tours.pluck(:price).sum %><sup style="font-size: 20px">VNĐ</sup></h3>

            <p>Tổng số tiền các tour đã đặt trong 1 tháng</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header border-transparent">
        <h3 class="card-title">Tour đã đặt của tháng <%= params[:option] %>/<%= Date.today.strftime("%Y") %></h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table m-0">
            <thead>
            <tr>
              <th>Order ID</th>
              <th>Tên Tour</th>
              <th>Trạng thái</th>
              <th>Giá tiền</th>
            </tr>
            </thead>
            <tbody>
            <% @user_tours.each do |user_tour| %>
            <tr>
              <td><a href="pages/examples/invoice.html"><%= user_tour.tour.id %></a></td>
              <td><%= user_tour.tour.name %></td>
              <td><span class="badge badge-success"><%= user_tour.status %></span></td>
              <td>
                <div class="sparkbar" data-color="#00a65a" data-height="20"><%= user_tour.tour.price %> VNĐ</div>
              </td>
            </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.card-body -->
      <div class="card-footer clearfix">
        <%= form_tag admin_root_path, method: :get do %>
          <%= select_tag(:option, options_for_select([["Tháng 1",1],["Tháng 2",2],["Tháng 3",3],["Tháng 4",4],["Tháng 5",5],["Tháng 6",6],["Tháng 7",7],["Tháng 8",8],["Tháng 9",9],["Tháng 10",10],["Tháng 11",11],["Tháng 12",12]], params[:option] ), class:"select") %>
          <%= submit_tag "aaa", class: "select_button d-none" %>
        <% end %>
        <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">View All Orders</a>
      </div>
      <!-- /.card-footer -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>

<script>
  $('.select').change(function() {
    $(this).parent().find(".select_button").click()
  })
</script>

