<h1>All Tours</h1>
<div class="line">

</div>
<%= will_paginate class:"digg_pagination"%>
  <div class="button-tour">
    <p><%= link_to "Tạo Tour", new_admin_tour_path %></p>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>STT</th>
        <th>Tên</th>
        <th>Ảnh</th>
        <th>Số điện thoại</th>
        <th>Thời gian</th>
        <th>Giá</th>
        <th>Nội dung</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%#= render @tours %>
      <% @tours.each do |tour| %>
        <tr>
          <td><%= tour.id %></td>
          <td><%= link_to tour.name, edit_admin_tour_path(tour) %></td>
          <td><%= image_tag tour.display_image if tour.image.attached? %></td>
          <td><%= tour.phone_number %></td>
          <td><%= tour.duration %></td>
          <td><%= tour.price %>vnđ</td>
          <td><%= tour.content %></td>
          <td><%= link_to "delete", [:admin, tour], method: :delete,
                                          data: { confirm: "You sure?" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%= will_paginate class:"digg_pagination" %>
