<div class="col-6 offset-3">
  <%= form_for([:admin, @tour]) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label "Tên" %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label "Địa chỉ" %>
    <%= f.text_field :address, class: 'form-control' %>

    <%= f.label "Số điện thoại" %>
    <%= f.text_field :phone_number, class: 'form-control' %>

    <%= f.label "Giá" %>
    <%= f.number_field :price, class: 'form-control' %>

    <%= f.label "Thời gian" %>
    <%= f.text_field :duration, class: 'form-control' %>

    <%= f.label "Nội dung" %>
    <%= f.text_area :content , class: 'form-control' %>
    <br>
    <%= f.label :category_id %>
    <%= f.select :category_id, Category.pluck(:name, :id) , class: 'form-control' %>

    <%= f.submit "Tạo mới chuyến du lịch", class: "btn btn-primary" %>
    <span class="image">
      <%= f.file_field :image %>
    </span>
  <% end %>
</div>
