<body class="background_color">
    <div class="container dashbroad-padding">
        <div class="row">
            <div class="col-md-3">
                <%= render 'shared/sidebar', user: @user %>
            </div>
            <div class="col-md-9" style="transform: none; visibility: visible;">
                <div class="mat-drawer-inner-container">
                    <div class="user-content dashboard-padding">
                        <div class="col-md-12 user-profile">
                            <div class="col-md-12 user-img">
                                <%= image_tag @user.display_image if @user.image.attached? %>
                            </div>

                            <div class="row profile-all">
                                <div class="col-md-3">
                                    Tên đầy đủ:
                                </div>
                                <div class="col-md-9">
                                    <%= @user.name %>
                                </div>
                            </div>
                            <div class="row profile-all">
                                <div class="col-md-3">
                                    Số điện thoại:
                                </div>
                                <div class="col-md-9">
                                    <%= @user.phone_number %>
                                </div>
                            </div>
                            <div class="row profile-all">
                                <div class="col-md-3">
                                    Email:
                                </div>
                                <div class="col-md-9">
                                    <%= @user.email %>
                                </div>
                            </div>
                            <div class="row profile-all">
                                <div class="col-md-3">
                                    Bank Balance:
                                </div>
                                <div class="col-md-9">
                                    <%= @user.bank_balance %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
