  <div class="col-md-6 offset-3">
    <%= form_for([:admin, @category]) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <div class="line">

      </div>
      <%= f.submit "Tạo mới categories", class: "btn btn-primary mb-5 mt-2" %>
    <% end %>
  </div>
