<div class="content-wrapper" style="min-height: 457px; background-color: #ecf0f4">
  <div class="container" style="padding-left: 90px;padding-right: 90px;">
    <div class="localHeadLine hasLine text_color">
      <h1 class="text_color">
        <%= @category.name %>
      </h1>
    </div>
    <% @category.tours.each do |tour| %>
      <div class="row">
        <div class="col-12">
          <div class="card flex-row flex-wrap cardContent">
            <div class="img_box">
              <div style="margin: 15px 5%;">
                <% image_path = tour.image.attached? ? tour.display_image : "default_tour_image.png" %>
                <%= image_tag image_path , class:"category_image" %>
              </div>
            </div>
            <div class="text_box">
              <div class="textFix">
                <%= link_to tour.name , tour %>
              </div>
              <div class="textDuration">
                <%= tour.duration %>
              </div>
              <div id="rating-rated">
                <% if tour.user_rating_tours.find_by(user_id: current_user.id).present? %>
                  <%= render 'user_rating_tours/rated', tour: tour %>
                <% else %>
                  <%= render 'user_rating_tours/rating', tour: tour %>
                <% end %>
              </div>
              <span class="like-color" id="like-count-<%= tour.id %>">
                <%= render 'user_like_tours/count', tour: tour  %>
              </span>
              <div id="like-unlike-<%= tour.id %>">
                <% if current_user.liked_tours.include?(tour) %>
                  <%= render 'user_like_tours/unlike', tour: tour %>
                <% else %>
                  <%= render 'user_like_tours/like', tour: tour %>
                <% end %>
              </div>
            </div>
            <div class="price_box">
              <div class="textPrice">
                <span><%= tour.price %></span>
                <span style="font-size: 17px">VNĐ</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  $('#form-rating input:radio').click(function() {
    $(this).closest('form').find(".submit_button").click()
  });
</script>

