<% provide(:title, @user.name) %>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" <%= gravatar_for @user %><span class="font-weight-bold"><%= @user.name %></span><span class="text-black-50"></span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Thông tin</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Tên</label></div>
                    <div><%= @user.name %></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Số điện thoại</label></div>
                    <div><%= @user.phone_number %></div>
                    <div class="col-md-12"><label class="labels">Email</label></div>
                    <div><%= @user.email %></div>
                    <div class="col-md-12"><label class="labels">Số dư tài khoản</label></div>
                    <div><%= @user.bank_balance %></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
